.skillsCard-container {
    text-align: center;

}

.my2 {
    background: radial-gradient(#eff1ff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0.5);
    font-size: 95px;
    margin: auto;
}
