:root {
    --font-family: 'Philosopher', sans-serif;
  }

html {
    height: 100%;
    margin: 0;
}
  
body {
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0;
    background: linear-gradient(90deg, rgb(112, 85, 250) 0%, rgb(96, 65, 247) 100%);
  }

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

.content-wrap {
    flex: 1;
  }