:root {
    --font-family: 'Philosopher', sans-serif;
  }

html {
    height: 100%;
    margin: 0;
}
  
body {
    color: #fff;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;;
  }

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

.content-wrap {
    flex: 1;
  }