/* @keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes image-slide {
    0% { transform: translateX(-250px) ; }
    60% { transform: translateX(-250px) ; }
    90% { transform: translateX(150px) ;}
    100% { transform: translateX(90px) ;}  
}



.splash {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 100;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    font-size: 30px;
}

.splash.display-none {
    z-index: -100;
    color: #000;

}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    letter-spacing: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.topContainer {
    margin-top: 20%;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

.iconContainer {
    display: none;
}

.imgWrapper{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
    z-index: -10;
}

.imgWrapper img {
    animation: image-slide 4s cubic-bezier(.5,0,.5,1);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    filter: drop-shadow(-4px 5px 5px rgba(0,0,0,0.6));
    height: 300px;
    filter: brightness(80%);
    max-width: 100%;
    margin-top: 20px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    padding-bottom: 20px;
    margin-top: 20;
}  

.welcomeText {
    font-size: 16px;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin: 0;
}

.nameText {  
    color: #fff;
    margin-top: 0;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: var(--heading-font);
}

.knowMeText {
    color: #A5ABBE;
    font-size: 16px;
    line-height: 1.16667;
    letter-spacing: .009em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
}

.hidingEffect {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #000;
    -webkit-animation: text-slide 2s cubic-bezier(.5,.5,0,1);
    animation: text-slide 2s cubic-bezier(.5,.5,0,1);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.aboutSection {
    background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
    border-radius: 25px;
    height: auto;
    color: #fff;
    line-height: 25.2px;
    padding: 20px;
    font-family: 'Lato';
    width: 300px;
    text-align: center;
}

.focusText {
    margin: 0;
    color: #A5ABBE;
    padding-bottom: 5px;
}

.softEngineerText {
    margin-top: 2px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}



.projectContainer {
    color: #eff1ff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.projectSection {
    padding: 20px 20px 40px;
}

.h1Text {
    font-size: 95px;
    margin: 0;
    background: radial-gradient(#eff1ff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0.5);
}

.h2Text {
    position: relative;
    z-index: 10;
    margin-top: -70px;
    letter-spacing: 2px;
    font-family: var(--accent-font);
}


.skillsContainer {
    color: #eff1ff;
   
    font-family: 'Lato', sans-serif;

    margin-bottom: 50px;
    margin-top: 20px;
   
}

.skillsCardWrapper {

    padding: 20px 20px 40px;
}


@media screen and (min-width: 768px) {

    @keyframes image-slide {
        0% { transform: translateX(-250px) ; }
        60% { transform: translateX(-250px) ; }
        90% { transform: translateX(150px) ;}
        100% { transform: translateX(70px) ;}  
    }
    
    .aboutSection {
        text-align: left;
        padding: 40px;
        font-family: 'Lato';
        width: 700px;
        height: 400px;
        margin-left: 20%;
        background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
    }

    .container {
        max-width: 95%;
        margin: auto;
    }

    .focusText {
        font-size: 18px;
    }
    
    .topContainer {
        display: flex;
        width: 90%;
        margin: auto;
        font-family: 'Lato', sans-serif;
        height: 900px;
        justify-content: space-between;
        padding: 0;
    }

    .imgWrapper {
        display: flex;
        flex: 1;
        position: none;
        top: 5%;
        left: 15%;
        transform: none;
        z-index: 1;
       
    }
    
    .imgWrapper img {
        height: 800px;
        align-items: flex-start;
    }

    .h1Text {
        font-size: 400px;
        z-index: -10;
        border: 1px dotted red;
        margin-top: 0px;
        padding-top: 0px;
    }

    .h2Text {
        z-index: 10;
        letter-spacing: 2px;
        font-family: var(--accent-font);
        font-size: 40px;
        margin-top: -240px;
        margin-bottom: 50px;
      
    }

    .iconContainer {
        display: flex;
        flex-direction: column;
       
        
        height: 650px;
        margin-left: -80px;
        margin-top: 35px;
    }

    .iconsWrapper {
        padding-bottom: 25px;
      
    }

    .textWrapper {
        
        flex-direction: row;
        margin-right: 0px;
        padding-right: 0px;
        align-items: center;
       
        border-radius: 20px;
        
    }

    .welcomeText {
        font-size: 22px;
        line-height: 1.16667;
        letter-spacing: .009em;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        position: absolute;
        top: 16%;
        left: 15%;
    }
    
    .nameText {  
       
        font-size: 120px;
       
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(180deg);
      
    }

    p {
        font-size: 24px;
        line-height: 1.2;
    }

    .projectContainer {
        width: 100%;
      
        border: 2px solid red;
        align-items: center;
        margin-top: 0px;
    }

    .projectSection {
        padding: 20px 20px 40px;
        display: flex;
        justify-content: space-around;
        z-index: 10;
        position: relative;
      
    }
} */