.section1 {
    color: #eff1ff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
    padding: 0px 15px 25px 15px;
}